<div class="container">
    <section id="anchor-point">
      <div class="hero-banner">
        <div class="hero-banner__content">
          <h2>Frequently Asked Questions</h2>
        </div>
        <div class="question-answer">
          <a
            class="question"
            data-toggle="collapse"
            href="#collapse1"
            aria-expanded="false"
          ><i class="material-icons">chevron_right</i>What is LNG?</a>
          <div class="collapse answer" id="collapse1">
            <p>LNG is an acronym for liquefied natural gas.</p>
            <p>In short, LNG is natural gas cooled to -162 degrees Celsius which condenses it into a liquid form. After it has been liquefied, it takes up much less space – approximately 1/600th less than it would in its natural form. This makes it easier and safer to transport.</p>
            <p>Once condensed, LNG can be loaded on to cargo ships built for overseas transport. After reaching its end destination, it is re-converted to natural gas and processed for market use.</p>
          </div>
        </div>
        <div class="question-answer">
          <a
            class="question"
            data-toggle="collapse"
            href="#collapse2"
            aria-expanded="false"
          ><i class="material-icons">chevron_right</i>What is LNG Canada?</a>
          <div class="collapse answer" id="collapse2">
            LNG Canada is a large-scale natural gas processing and export facility located in Kitimat, British Columbia. After natural gas is converted into a liquid form it will be shipped to Asia.
          </div>
        </div>
        <div class="question-answer">
          <a
            class="question"
            data-toggle="collapse"
            href="#collapse3"
            aria-expanded="false"
          ><i class="material-icons">chevron_right</i>What is the Coastal GasLink pipeline?</a>
          <div class="collapse answer" id="collapse3">
            Coastal GasLink is a 670-kilometer pipeline that will supply the LNG Canada facility with raw natural gas from northeastern British Columbia.
          </div>
        </div>
      </div>
    </section>
  </div>
