<div class="container">
    <section id="anchor-point">
      <div class="hero-banner">
        <div class="hero-banner__content">
          <h1>Frequently Asked Questions</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo felis vel lorem pellentesque porttitor. In id sem et tortor viverra elementum a id mauris. Curabitur sit amet condimentum sapien, sit amet efficitur orci. Fusce luctus nibh consequat pellentesque congue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean rhoncus purus odio, vitae pulvinar est lacinia sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent non elementum ipsum. Fusce aliquet eros eu metus condimentum, dignissim dapibus tellus egestas. Praesent semper vestibulum consequat. Proin nibh dolor, cursus non ultrices id, tincidunt vitae metus. Sed sit amet purus mi. Cras hendrerit enim quis massa malesuada mattis nec nec urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis congue tincidunt nibh sed egestas.
          </p>
          <br>
          <p>
            Donec vel congue velit, at finibus orci. Duis imperdiet dignissim porta. Nulla facilisi. Vestibulum sodales eros nec sem porttitor sollicitudin. Phasellus vitae sapien condimentum, faucibus enim et, hendrerit nibh. Donec imperdiet felis ipsum, non euismod felis pellentesque eu. Nam placerat congue ex ut viverra. Curabitur eget tortor ex. Proin euismod nulla vitae felis gravida, nec fermentum libero imperdiet. Maecenas lacinia vehicula libero sit amet mattis. Cras in lobortis sem. Donec porttitor suscipit metus. Vestibulum venenatis felis non nunc volutpat consequat.
          </p>
        </div>
      </div>
    </section>
  </div>
