<div class="container">
  <div class="overview-view">
    <section class="left-side">
      <section class="left-side-top">
        <div>
          <h1>Project Overview</h1>
          <ng-container *ngFor="let line of text">
            <p>
              {{line}}
            </p>
          </ng-container>
        </div>
      </section>
      <section class="left-side-bottom">
        <section class="left-side-bottom-left">
          <div class="block">
            <div class="inner-block">
              <div class="inner-block-top">
                <h3>Organization name</h3>
                <p>Monday to Friday, 8:30am - 4:30pm</p>
                <h4>Contacts:</h4>
                <div>
                  <span>Toll free: </span>
                  <span><strong>1-877-855-3222</strong></span>
                  <span class="icon-container">
                    <i class="material-icons">
                      email
                    </i>
                  </span>
                </div>
                <div>
                  <span>Outside NA: </span>
                  <strong>+1-778-372-0729</strong>
                  <span class="icon-container">
                    <i class="material-icons">
                      email
                    </i>
                  </span>
                </div>
              </div>
              <div class="inner-block-bottom">
                <div>
                  <span class="icon-container-light">
                    <i class="material-icons">
                      website
                    </i>
                  </span>
                  <a>Ministry Website </a>
                </div>
                <div>
                  <span class="icon-container-light">
                    <i class="material-icons">
                      phone
                    </i>
                  </span>
                  <span>250-555-5555</span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="left-side-bottom-right">
          <div class="dummy-placeholder"></div>
        </section>
      </section>
    </section>
    <section class="right-side">
      <h1>
        Activity Updates
      </h1>
      <app-activity [pageType]='pageType'></app-activity>
    </section>
  </div>
</div>
