<div class="container flex">
  <section class="left-side-2">
    <section>
      <div>
        <h1>Project Overview</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo felis vel lorem pellentesque porttitor. In id sem et tortor viverra elementum a id mauris. Curabitur sit amet condimentum sapien, sit amet efficitur orci. Fusce luctus nibh consequat pellentesque congue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean rhoncus purus odio, vitae pulvinar est lacinia sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent non elementum ipsum. Fusce aliquet eros eu metus condimentum, dignissim dapibus tellus egestas. Praesent semper vestibulum consequat. Proin nibh dolor, cursus non ultrices id, tincidunt vitae metus. Sed sit amet purus mi. Cras hendrerit enim quis massa malesuada mattis nec nec urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis congue tincidunt nibh sed egestas.
        </p>
      </div>
    </section>
    <section class="flex">
      <section class="left-side-1">
        <div class="block">
          <div class="inner-block">
            <div class="inner-block-top">
              <h3>Organization name</h3>
              <p>Monday to Friday, 8:30am - 4:30pm</p>
              <h4>Contacts:</h4>
              <div>
                <span>Toll free: </span>
                <span><strong>1-877-855-3222</strong></span>
                <span class="icon-container">
                  <i class="material-icons">
                    email
                  </i>
                </span>
              </div>
              <div>
                <span>Outside NA: </span>
                <strong>+1-778-372-0729</strong>
                <span class="icon-container">
                  <i class="material-icons">
                    email
                  </i>
                </span>
              </div>
            </div>
            <div class="inner-block-bottom">
              <div>
                <span class="icon-container-light">
                  <i class="material-icons">
                    website
                  </i>
                </span>
                <a>Ministry Website </a>
              </div>
              <div>
                <span class="icon-container-light">
                  <i class="material-icons">
                    phone
                  </i>
                </span>
                <span>250-555-5555</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="right-side-1">
        <div class="dummy-placeholder flex"></div>
      </section>
    </section>
  </section>
  <section class="right-side-1">
    <h1>
      Activity Updates
    </h1>
  </section>
</div>
