<div class="flex-panel" *ngIf="!isAppLoading && !application">
  <div class="flex-panel__header">
    <h2 class="title">No Segment Selected</h2>
  </div>
</div>

<div class="flex-panel" *ngIf="isAppLoading">
  <div class="flex-panel__header">
    <h2 class="title">Loading segment details...</h2>
  </div>
</div>

<div class="flex-panel" *ngIf="!isAppLoading && application !== null">
  <div class="flex-panel__header">
    <h2 class="title">Segment: &nbsp; #{{segment || '-'}}</h2>
  </div>
  <div class="flex-panel__scroll">
    <div class="app-detail-info"> </div>
  </div>
</div>
