<div class="map-container">
  <div id="map" name="Map of BC that displays Crown land applications"></div>
  <div id="legend" name="List for choosing project to view">
    <div id="title"> Projects </div>
    <div id="sub-title">Select a project to see more details</div>
    <hr>
    <div class="button" id="lng-button">
      <div class="icon">
        <svg></svg>
      </div>
      <div class="button-title">LNG CANADA</div>
      <div class="button-button">
        <button type="button" class="btn btn-primary">
          <i class="material-icons mr-1">image</i>
          <i class="material-icons mr-1">menu</i>
          <span>Go to Details</span>
        </button>
      </div>
    </div>
  </div>
</div>