<div class="container">
  <section>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in purus sit amet felis vulputate ornare. Suspendisse aliquam facilisis tellus ut efficitur. Duis aliquam eros turpis, eu aliquam massa rhoncus mattis. Integer porttitor sollicitudin placerat. Phasellus luctus tortor a nulla porttitor congue. Integer nunc dui, mollis in volutpat in, tempor ac nulla. Praesent vestibulum diam eros, eget dapibus ligula feugiat vitae.
      </p>
      <br>
      <p>
        In eu diam consequat velit scelerisque pellentesque. Pellentesque volutpat blandit tempus. Morbi fermentum massa at feugiat scelerisque. Phasellus ac neque at turpis venenatis mattis a eget turpis. Morbi ut consectetur augue. Curabitur dignissim sem at orci aliquam lacinia. Morbi euismod sem sed aliquet volutpat. Donec est erat, tempor id hendrerit sit amet, convallis eu lorem.
      </p>
    </div>
  </section>
</div>
