<div class="documents-view" [ngClass]="{'filter-panel__open': isFilterPanelVisible}">

  <!-- <section>

  </section> -->

  <!-- <section>
    <div class="side-nav">
      <ul>
        <li class="side-nav-item"
          [ngClass]="{'active': isFilterPanelVisible}">
          <button class="btn" (click)="toggleFilterPanel()">
            <i class="material-icons">visibility</i>
            <div>Explore</div>
          </button>
        </li>
      </ul>
    </div>
  </section> -->

  <section class="filter-nav">
    <button class="inline-btn btn btn-primary" (click)="toggleFilterPanel()">
      <i class="material-icons">visibility</i>
      <label class="control-label">Filter Documents</label>
    </button>
    <div class="results-count">
      {{documentCountMessage}}
    </div>
  </section>

  <!-- <section class="left-side-1 section-left">
    <div>
      <app-explore-panel #explorePanel (updateFilters)="updateDocumentFilters($event)" (hideSidePanel)="closeSidePanel()"></app-explore-panel>
    </div>
  </section> -->

  <section class="table-panel">
    <div class="filter-panel">
      <button class="close-btn btn btn-icon" (click)="closeSidePanel()">
        <i class="material-icons">close</i>
      </button>
      <app-explore-panel #explorePanel
        [filterSections]="filterSections"
        (updateFilters)="updateDocumentFilters($event)"
        (hideSidePanel)="closeSidePanel()">
      </app-explore-panel>
    </div>

    <table class="table-cards-large">
      <thead>
        <tr>
          <ng-container *ngFor="let header of headers">
            <th class="sortable" (click)="sort(header.fieldName)">
              {{header.displayName}}
              <i class="sort" [ngClass]="{'sort-asc': (sortColumn == header.fieldName && sortDirection < 0), 'sort-desc': (sortColumn == header.fieldName && sortDirection > 0) }" aria-hidden="true"></i>
            </th>
          </ng-container>
          <th>
          </th>
        </tr>
      </thead>
      <ng-container *ngFor="let document of documents | orderBy: {property: sortColumn, direction: sortDirection}">
        <tr>
          <ng-container *ngFor="let header of headers">
            <td>
              {{document[header.fieldName]}}
            </td>
          </ng-container>
          <td>
            <button class="inline-btn btn btn-primary" (click)="downloadFile(document)">
              <i class="material-icons">cloud_download</i>
              <label class="control-label">Download</label>
            </button>
          </td>
        </tr>
      </ng-container>
    </table>
  </section>

</div>
