@import "~assets/styles/base/base.scss";

.flex {
  @include flex-box();
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.left-side {
  &-1 {
    flex: 1 1;
  }
}

.right-side {
  &-1 {
    flex: 3 3;
  }
}

.section {
  &-left {
    margin-right: 1rem;
  }

  &-right {
    margin-left: 1rem;
  }
}

.results-count {
  float: right;
}
