<div class="container">
  <section id="anchor-point">
    <div class="hero-banner">
      <div class="hero-banner__content">
        <div id="home-content">

          <div id="left-column">
            <div id="overview">
              <h3>OVERVIEW</h3>
              <p> British Columbia has been the location of natural gas exploration and production for more than 50 years.</p>

              <p>Liquefied natural gas, or LNG, is a technical process that involves cooling raw natural gas into a liquid form. As a liquid, it can be transported overseas by ship.</p>

              <p>The industry has been operating in some form or another for almost 100 years, but it has never developed in Canada – until now.</p>

              <p>LNG Canada will be the first large-scale export facility of its kind in British Columbia. Once operational, LNG Canada will ship natural gas to markets in Asia where it will be processed for energy needs.</p>

              <p>The Government of British Columbia has statutory responsibilities to ensure the natural gas industry, including the companies involved with LNG Canada, are permitted and compliant with all government legislation and requirements.</p>
            </div>
            <div id="activities">
              <h3>RECENT ACTIVITIES</h3>
            </div>
          </div>

          <div id="right-column">
            <div id="map-btn">
              <button type="button" class="btn btn-primary" routerLink="/map">
                <i id="btn-icon-left" class="material-icons mr-1">map</i>
                <span>VIEW PROJECTS ON MAP</span>
                <i id="btn-icon-right" class="material-icons mr-1">arrow_forward</i>
              </button>
            </div>
            <div id="lng-card">
              <div class="card">
                <img class="card-img-top" routerLink="/project/1/overview" src="/assets/images/lng-canada-site-rendering-smaller.jpg" alt="LNG Canada Image">
                <div class="card-body">
                  <div class="card-company">LNG CANADA</div>
                  <div class="card-name">LNG Export Facility</div>
                  <div class="card-location">KITIMAT, BC</div>
                  <div class="card-btn">
                    <button type="button" class="btn btn-light" routerLink="/project/1/overview">
                      <i class="material-icons mr-1">image</i>
                      <i class="material-icons mr-1">menu</i>
                      <span>Go to Details</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="cas-card">
              <h3>Gas</h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
